<div class="flex space-x-4">
  <% if position.mainPicture.attached? %>
    <%= link_to image_tag(position.mainPicture, style: "max-width: 200px;", class: "rounded"), url_for(position.mainPicture) %>
  <% end %>
  <% if position.picture1.attached? %>
    <%= link_to image_tag(position.picture1, style: "max-width: 200px;", class: "rounded"), url_for(position.picture1) %>
  <% end %>
  <% if position.picture2.attached? %>
    <%= link_to image_tag(position.picture2, style: "max-width: 200px;", class: "rounded"), url_for(position.picture2) %>
  <% end %>
  <% if position.picture3.attached? %>
    <%= link_to image_tag(position.picture3, style: "max-width: 200px;", class: "rounded"), url_for(position.picture3) %>
  <% end %>
</div>