<div class="bg-white shadow-md rounded-lg p-6 my-6 border border-gray-200">
  <% if position.released == false %>
    <span style="color: orange;">Die Position wurde von uns noch nicht freigegeben und wird dem Endnutzer dementsprechend nicht angezeigt.</span>
  <% end %>
  <h2 class="text-2xl font-semibold mb-2"><%= position.title %></h2>
  <p class="text-gray-700 mb-4"><%= position.description %></p>
  <%= render partial: 'position_images', position: position %>
  <%= render partial: 'position_actions', position: position %>
</div>