<h1 class="text-3xl">Offene Stellen</h1>

<%= render partial: 'new_position_button' if !current_user.admin? %>

<%= render partial: 'admin_unreleased_positions' if current_user.admin? && @positions.where(released: false).exists? %>

<% if @positions.present? %>
  <div>
    <% @positions.each do |position| %>
      <%= render partial: 'position_card', position: position %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-700">Keine offenen Stellen gefunden.</p>
<% end %>