<!-- filepath: /Users/davidrischow/Desktop/visualStudio/LetsGoVolunteer-Backend/app/views/users/locked.html.erb -->
<h1>Vielen Dank für Ihre Registierung</h1>
<p>Ihre Registrierung wird gerade geprüft und von uns demnächst freigegeben.</p>