<footer class="bg-[#c9a83f] shadow">
  <div class="w-full max-w-screen-xl mx-auto p-4">
    <!-- Top section with project info and links -->
    <div class="flex justify-between items-center">
      <!-- Left side - Project credit -->
      <div>
        <span class="text-white font-medium">Project realized by David Rischow</span>
      </div>
      
      <!-- Right side - Links and logos -->
      <div class="flex items-center space-x-6">
        <!-- Footer links -->
        <a href="<%= static_pages_imprint_path %>" class="text-white hover:underline">Imprint</a>
        
        <!-- Logos -->
        <%= image_tag("tum_logo.png", alt: "campus heilbronn Logo", class: "h-8") %>
      </div>
    </div>
    
    <!-- Divider line -->
    <hr class="my-4 border-[#b89936]" />
    
    <!-- Bottom section with copyright -->
    <div class="flex justify-center relative">
      <!-- Copyright text -->
      <span class="text-white text-sm">© 2024 TUM Campus Heilbronn gGmbH.</span>

    </div>
  </div>
</footer>