<footer class="bg-[#264653] shadow">
  <div class="w-full max-w-screen-xl mx-auto p-4">
    <!-- Top section with project info and links -->
    <div class="flex justify-between items-center">
      <!-- Left side - Project credit -->
      <div>
        <span class="text-lg text-white/50">Project realized by David Rischow and Mohamed Amine Jradi</span>
      </div>
      
      <!-- Right side - Links and logos -->
      <div class="flex items-center space-x-6">
        <!-- Footer links -->
        <%= link_to "Imprint", impressum_path, class: "text-sm font-medium hover:underline", style: "color: #F8F9FA;" %>
        
        <!-- Logos -->
        
      </div>
    </div>
    
    <!-- Divider line -->
    <hr class="my-4 border-white/50" />
    
    <!-- Bottom section with copyright -->
    <div class="flex justify-center relative">
      <!-- Copyright text -->
      <span class="text-lg text-white/50">© 2024 TUM Campus Heilbronn gGmbH.</span>

    </div>
  </div>
</footer>