<div class="container">
  <h1>All Volunteer Positions</h1>

  <% @positions.each do |position| %>
    <div class="position">
      <h2><%= position.title %></h2>
      <p><%= position.description %></p>
    </div>
  <% end %>
</div>
